.gulc-figure {
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0.25rem;
    box-sizing: border-box;
}
.gulc-header {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}
.gulc-avatar {
    width: 4rem !important;
    height: 4rem;
    border-radius: 2rem !important;
}
.gulc-metadata {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.gulc-name {
    font-size: 1.625rem;
    line-height: 1.25;
    font-weight: 600;
}
.gulc-username {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
}
.gulc-description {
    font-size: .875rem;
    margin: 0 1rem 1rem 1rem;
    padding-bottom: 1rem;
}
.gulc-list {
    display: flex;
    list-style-type: none;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.gulc-item {
    padding: 0 1rem 0.5rem 1rem;
    font-size: .875rem;
    line-height: 1.25rem;
}
.gulc-modules {
    padding: 0 1rem;
}

.gulc-figure {
    background-color: var(--color-canvas-subtle);
}

.gulc-avatar {
    box-sizing: border-box;
    border: 2px solid var(--color-border-muted);
}

.gulc-name {
    color: var(--color-fg-default);
}

.gulc-username {
    color: var(--color-fg-muted)
}

.gulc-data {
    background-color: var(--color-fg-default);
}

.gulc-label {
    color: var(--color-fg-muted);
}

.gulc-description {
    border-bottom: 1px solid var(--color-border-muted);
}

.gulc-list {
    border-bottom: 1px solid var(--color-border-default);
}

.gulc-item {
    border-bottom: 2px solid var(--color-canvas-subtle);
}

.gulc-item.active {
    border-bottom: 2px solid #f78166;
}

.extension-block *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.lang-figure{
    border:1px solid var(--color-border-default);
    border-radius:6px;
    padding:16px 16px 4px 16px;
     margin-right: 0;
     margin-left: 0;
}
.lang-list{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    width:100%
}
.lang-item{
    display:flex;
    align-items:center;
    margin-right:24px;
    margin-bottom:8px
}
.lang-dot{
    width:8px;
    height:8px;
    border-radius:50%;
    margin-right:8px
}
.lang-label{
    font-size:12px;
    font-weight:600;
    margin-right:4px
}
.lang-percent{
    font-size:12px;
    margin-right:4px;
    color:var(--color-fg-muted)
}
.lang-bar{
    height:8px;
    width:100%;
    border-radius:6px;
    margin-bottom:8px;
    display:flex;
    justify-content:space-between;
    border-radius:8px;
    overflow:hidden
}
.bar-language{
    height:8px;
}
.bar-language:last-child{
    border-right:none
}

.f4 {
    font-size: 16px !important;
    color: var(--color-fg-default);
}
.mb-2 {
    margin-top: 1rem;
    margin-bottom: 8px !important;
}
.text-normal {
    font-weight: 400 !important;
}

.snip {
    height: 2rem;
    position: relative;
    overflow: hidden;
}
.snip .lang-figure {
    margin-top: 0;
}
.snip::after {
    position: absolute;
    content: "";
    top: -4rem;
    left: -2rem;
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    overflow: hidden;
    box-shadow: inset -8px 0 16px 16px var(--color-canvas-subtle);
}